body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

#canvas {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
}